<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="personDAO" class="Lesson25.spring.dao.impl.PersonDaoImpl"/>
    <bean id="personService" class="Lesson25.spring.service.impl.PersonServiceImpl">
        <constructor-arg name="personDAO" ref="personDAO"/>
    </bean>
    <bean id="valCourse" class="Lesson26.service.impl.ValCourseImpl"/>
</beans>